[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "OCA/multi-company"]
	path = OCA/multi-company
	url = git@github.com:OCA/multi-company.git
	branch = 14.0

[submodule "akretion/sale-configurator"]
	path = akretion/sale-configurator
	url = git@github.com:akretion/sale-configurator.git
	branch = 14.0
